/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	text-align: center;
}

.head-bar {
	height: 45px;
	background-color: #585858;
	color: #FFF;
	text-shadow:
		1px 1px 0 #000;

}

/* how do i vertically center this stupid thing*/
.create-event-button {
	float: right;
	margin-top: 14px;
	margin-right: 14px;
}

#hour-column {
	margin-top: 5px;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	margin-left: 35px;
}
.dates-bar{
	width: 250px;
	height: 20px;
}
.hour-row{
	width: 300px;
	height: 15px;
	border-bottom:.1px;
	border-top:0px;
	border-right: 0px;
	border-left:0px;
	border-style: solid;
	border-colo: #404040;
	padding-bottom: 1px;
}
.times{
	font-size: 8px;
	text-align: left;
	margin-left: 5px;
}

.volume-bar {
	width: 24px;
	height: 6px;
	border: 1px solid;
	display: inline-block;
	margin: 5px;
}

.volume-level {

}

.volume-rocker {
	/*margin-top: 10px;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

#slider{
	width: 250px;
	margin-top: -5px;
}

.control-button {
	cursor: pointer;
	height:30px;
	width:40px;
	background-color: #F0F0F0;
	border: 1px solid grey;
}

.volume-button {
	display: inline-block;
	cursor: pointer;
	width: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 8px;
	font-size: 10px;
	font-weight: bold;
	height: 3%;
	border-radius: 2px;
	background-color: white;
}

.volume-icon-wrapper {
	width: 250px;
	height: 20px;
}

#player-time {
	width: 250px;
	display: inline-block;
}

#time-elapsed {
	float: left;
	display: inline-block;
}

#time-total{
	float: right;
	display: inline-block;
}

/* BEGIN FORM CSS */

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */

.form-title {
  text-align: left;
}

.form-popup {
  display: none;
  position: absolute;
  top: 200px;
  left: 100px;
  border: 1px solid #000;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 150px;
  height: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px;
  height: 15px;
  margin: 5px 0 22px 0;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #585858;
  color: #fff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1.0;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: .8;
}
