body {
	font-family: Avenir, sans-serif;
	height:600px;
	width: 375px;
}
#screen {
	height: 600px;
	width: 375px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	float:left;
	background-color: #f2f2f2;
}
.head-bar {
	height: 45px;
	background-color: #585858;
	color: #FFF;
	text-shadow: 1px 1px 0 #000;
	position: fixed;
	width: 375px;
}
.greeting{
  float: left;
  padding: 5px;
  margin-top: 12px;
}
#logo{
	max-height: 40px;
	padding-top:5px;
  margin-right: 20px;
}
#controls{
	max-height: 20px;
	padding-top:5px;
  background-color: white;
	border-color: lightgrey;
	color:#585858;
  border-radius: 4px;
  margin-top: 12px;
  padding: 5px;
  margin-right: 5px;
  float: right;

}
.social-feed {
    width: 375px;
    height: 450px;
    background-color: #f5f5f5;
    display: block;
    margin-top: -5px;
}
.sub-title {
    color: #585858;
    font-size: 20;
    padding: 5px;
    width: 300px;
    float: left;
    text-align: left;
}
.event-feed {
    width: 360px;
    float: left;
    height: 100px;
    background-color: white;
    margin-left: 5px;
    border-radius: 10px;
	background-image: url(images/football.png);
	background-size: 300px;
}

.event-head {
    display: flex;
    width: 360px;
    height: 20px;
		margin-bottom: 6px;

}
.event-name {
    color: #585858;
    font-size: 14;
    padding: 5px;
    text-align: left;
    display: flex;
		font-weight:bold;
		margin-right: 160px;
		float: left;
}
#feed-edit {
    border-color: lightgrey;
    border-radius: 4px;
    max-height: 15px;
    margin-top: 5px;
    margin-left: 190px;
}

.event-descriptions1{
	color: #585858;
	font-size: 12;
	padding: 1px;
	width: 200px;
	text-align: left;
	max-height: 8px;
	margin-top: 8px;
	margin-left: 5px;
	height: 20px;
	display: -webkit-box;
	margin-bottom: -1px;
}
.event-descriptions2{
	color: #585858;
	font-size: 12;
	padding: 1px;
	float: left;
	text-align: left;
	max-height: 8px;
	margin-top: 8px;
	margin-left: 5px;
	height: 20px;
	display: inline-flex;

}
.tail-bar {
	height: 55px;
	background-color: #585858;
	color: #FFF;
	align-content: center;
	position: fixed;
	top: 544px;
	left: 0px;
	width: 375px;
	font-size: 18px;
}
.tail-features{
	width: 100%;
	height: 55px;
	font-size: 14;
	padding-top: 15;
	text-align: center;
	border-width: thin;
	border-color: white;
	border-style: solid;
	color: white;
		display: flex;
		background-color: #585858;
align-content: center;
}

.preview-chat-screen {
	position: relative;
	align-items: center;
	background-color: #f5f5f5;
	height:100%;
}

#mimosas-preview{
	background-image: url(images/mimosas.png);
}

#beach-preview{
	background-image: url(images/beach.JPG);
}

.preview-chat-box {
	padding: 5px;
	margin-bottom:10px;
  	display: inline-block;
    width: 340px;
    height: 100px;
    float: center;
    background-color: white;
    margin-left: 5px;
    /*border-style: solid;*/
    /*border-width: 2px;*/
    border-radius: 10px;
	background-image: url(images/football.png);
	background-size: 300px;
	border-style: solid;
	border-width: 1px;
	border-color:#585858;
}

.chat-button {
    display:inline;
		margin-right:15px;
		margin-top:5px;
}


.form-title {
  text-align: left;
	width:100px;
	display:inline;
	float:left;
	font-weight: bold;
}

#myform2{
	  display: none;
	  position: absolute;
	  top: 80px;
	  left: 60px;
	  border: 1px solid #000;
	  z-index: 9;
		font-size:15px;
		border-radius: 3px;
}

#event-title{
	margin-bottom: 5px;
	float:left;
}
#event-details{
	margin-bottom: 5px;
	float:left;
}
#guests-input{
	margin-top:10px;
	margin-bottom:10px;
}

#time-selection{
	margin-bottom:0;
	float:left;
	display:block;
	margin-right:30px;
}

.time-selection{
float:left;
margin-bottom: 5px;
}


#day-selection{
	margin-bottom:5px;
	float:left;
	display:block;
}

#form-container {
  width: 250px;
  height: 380px;
  padding: 10px;
	margin:0px;
  background-color: white;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.form-popup {
	display: none;
	position: absolute;
	top: 80px;
	left: 35px;
	border: 3px solid #000;
	z-index: 9;
	font-size:10px;
	border-radius: 3px;
}

/* Add styles to the form container */
.form-container {
  width: 300px;
  height: 320px;
  padding: 10px;
	margin:0px;
  background-color: white;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  	width: 75%;
    border: 2px solid #000;
    padding: 5px;
    height: 25px;
    margin: 5px 0 10px 0;
    float: left;
    border-radius: 10px;
}

.chat-title {
	    float: left;
    margin-left: 7px;
    font-weight: bold;
    font-size: 14;
}


#chat-box {
	margin-top: 20px;
	height: 80%;
	width: 100%;
	border-style: solid;
  	border-width: 2px;
  	border-color: grey;
}

#message-input{
	margin-top:20px;
}

.cancel-button-top{
	font-size: 13px;
	color:black;
	cursor:pointer;
	width:30px;
	float:right;
	display:inline;
	margin-top: 2px;
	font-weight:bold;
}
#cancel-button-top:hover{
	color:#585858;
}

#chat-button:hover{
	cursor: pointer;
}

#edit-button:hover{
	cursor: pointer;
}

.chat-button {
    display:inline;
	float:right;
}

.edit-button {
    display:inline;
	float:right;
	margin-top:5px;
	margin-right: 5px;
}

#message{
	display:block;
	float: right;
	margin-left:10px;
	background-color: #1E90FF;
	color:white;
	padding:5px;
	border-radius: 8px;
	margin-right:5px;
	margin-left:45px;
}
#calendar{
	margin-top:15px;
}

#send-button{
	margin-top: 20px;
	border-style: solid;
	border-width: 2px;
	background-color: lightgray;
	border-radius: 5px;
	color: #585858;
	height: 25px;
	font-size: 10px;
}


#sample-message{
	display:block;
	float: left;
	margin-left:10px;
	background-color: lightgray;
	color:white;
	padding:5px;
	border-radius: 8px;
	margin-right:5px;
}

#create-event-button-popup{
	margin-top:10px;
	padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
	background-color:lightgray;
	margin-top:10px;
	margin-bottom:10px;
}
#cancel-button{
font-size: 10px;
color:grey;
cursor:pointer;
}
#cancel-button:hover{
	color:#585858;
}
#form-container .btn {
  background-color: #585858;
  color: #fff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1.0;
}

.top-link{
	color:white;
	padding:7px;
	float:right;
	margin-top:5px;
	margin-right:4px;
}
.dropbtn {
	color: #585858;
	font-size: 12;
	border: none;
	display: inline-block;
	margin-left: 4;
}
.namedrop {
  position: relative;
  display: inline-block;
}
.invited-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;

  z-index: 1;
}
.invited-content p {
  color: black;
  display: block;
}

#recent-activities{
	margin-bottom: 300px;
	background-color: #f2f2f2;
}
.namedrop:hover .invited-content {display: block;}
