f/*
	Global classes
					*/
body {
	font-family: Avenir, sans-serif;
	height:600px;
	width: 375px;
}


#screen {
	height: 600px;
	width: 375px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	float:left;
	/*display:inline;*/
}

.head-bar {
	height: 45px;
	background-color: #585858;
	color: #FFF;
	text-shadow:
		1px 1px 0 #000;

}
.home-button {
	float: left;
	padding:5px;
	margin-top: 9px;
	margin-left: 9px;
	border-radius: 4px;
	width: 26px;
	height: 26px;
	background-color: white;
	border-color: lightgrey;
	color:#585858;
}

#logo{
	max-height: 40px;
	padding-top:5px;
	padding-right:25px;
}

#profile-name{
	font-size:20px;
	margin-bottom: -20px;
}

#profile-pic{
	border-radius: 50%;
	width: 120px;
	margin: 35px;
}

.info-container{
	margin-left: 110;
    /*width: 170;*/
    text-align: left;
}

#age-info-row{
}

#age-edit{
	display:inline-block;
}

#age-edit{
	display:inline-block;
}

#college-info-row{
}

#hometown-info-row{
}

#city-info-row{
}

.field-info{
	display: inline-block;
}

.field-value{
	display: inline-block;
	text-decoration: underline;
}

.edit-button {
    display:inline-block;
    margin-left: 10;
	font-size: 10;
}

#edit-button:hover{
	cursor: pointer;
}

.striped-border {
    border: 1px dashed #000;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
		margin-top: 2%;
}

.outreach-containers {
    display: flex;
    flex-direction: column;
}


.outreach-button {
	width: 200px;
	height: 50px;
	background-color: #585858;
	color: white;
}

.personal-containers{
	display: flex;
	flex-direction: row;
	display: inline-block;
}
.personal-button{
	width: 120px;
	height: 80px;
	background-color: #585858;
	color: white;
	margin: 10px;
	float: center;
	border-radius: 20px;
}
.control-icons{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 20%;
	height: 20%;

}
button-wrapper {
	margin: 20px;
}
#home-button{
	color:white;
	float:left;
	padding:8px;
	margin-top:5px;
	margin-left:10px;
}
